@use '@/styles/_breakpoints' as *;

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  width: 100%;
  padding: 0 1rem;

  @include respond-to(sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    padding: 0;
  }

  @include respond-to(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  @include respond-to(lg) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
  }
}

.emptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60vh;
  padding: 2rem 1rem;

  @include respond-to(md) {
    min-height: 70vh;
    padding: 3rem 2rem;
  }
}
