@use '@/styles/_colors' as *;
@use '@/styles/_breakpoints' as *;

.root {
  display: flex;
  align-items: center;
  justify-content: center;

  .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.375rem;
    background-color: $primary-gray;
    border-radius: 0.375rem;
    width: 100%;
    max-width: 200px;

    @include respond-to(sm) {
      max-width: 250px;
    }

    @include respond-to(md) {
      max-width: 270px;
      padding: 0.3125rem;
    }

    input {
      width: 100%;
      z-index: 10;
      font-size: 0.875rem;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0.5rem 2rem 0.5rem 0.625rem;
      @include transition;

      @include respond-to(md) {
        font-size: 1rem;
        padding: 0.625rem 2rem 0.625rem 0.625rem;
      }

      &::placeholder {
        color: #999;
        font-size: 0.875rem;

        @include respond-to(md) {
          font-size: 1rem;
        }
      }

      &:focus {
        background: transparent;
        outline: none;
        cursor: text;
      }

      &:focus-visible {
        outline: 2px solid $primary-green;
        outline-offset: 2px;
        border-radius: 0.25rem;
      }
    }

    .icon {
      position: absolute;
      right: 0.625rem;
      color: #666;
      pointer-events: none;
    }
  }
}
