@use '@/styles/_colors' as *;

.root {
  button {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: $primary-green;
    color: white;
    padding: 10px;
    border-radius: 50%;
    float: right;
    min-width: auto;
    min-height: auto;
    width: auto;
    height: auto;

    &:hover {
      background-color: $primary-green;
    }

    &:active {
      background-color: $primary-green !important;
    }

    &:focus:not(:focus-visible):not(:active) {
      background-color: $primary-green;
    }

    .spinner {
      scale: 1.3;
    }
  }
}
