@use "@/styles/_colors" as *;
.root {
  button {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: $primary-green;
    color: white;
    padding: 10px;
    border-radius: 50%;
    float: right;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }

    .spinner {
      scale: 1.3;
    }
  }
}
