.root {
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  .products {
    display: grid;
    grid-gap: 1px;
    width: 100%;
  }

  .sum {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
