@use '@/styles/colors' as *;

.root {
  border: 1px solid $primary-gray;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  cursor: pointer;

  .product {
    display: grid;
    row-gap: 8px;
    padding: 20px;
    height: 100%;

    .imageContainer {
      margin: auto;
      display: flex;
      justify-items: center;
      border-radius: 8px;
      overflow: hidden;
    }

    .category {
      color: $secondary-black;
    }

    .title {
      min-height: 64px;
    }

    .price {
      font-weight: 700;
    }

    .addToCart {
      justify-self: end;
    }
  }
}
