.root {
  width: 250px;
  height: 390px;
  border: 1px solid lightgray;
  cursor: pointer;

  .product {
    display: grid;
    row-gap: 8px;
    padding: 20px;
    height: 100%;

    .image {
      margin: auto;
      display: flex;
      justify-items: center;
      border-radius: 8px;
      overflow: hidden;
    }

    .category {
      color: lightgray;
    }

    .title {
      min-height: 64px;
    }

    .price {
      font-weight: 700;
    }

    .addToCart {
      justify-self: end;
    }
  }
}
