@use '@/styles/colors' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  all: unset;
}

#nprogress .bar {
  background: $primary-green !important;
  height: 5px !important;
}
