@use '@/styles/colors' as *;
@use '@/styles/_breakpoints' as *;

.root {
  padding-left: 10%;
  padding-right: 10%;
}

.header {
  margin-bottom: 1rem;
  // padding: 2rem 0;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #333;

    @include respond-to(md) {
      font-size: 1.75rem;
    }

    @include respond-to(lg) {
      font-size: 2rem;
    }
  }

  .subtitle {
    font-size: 1.1rem;
    color: #666;
    margin: 0;
  }
}

