@use "@/styles/colors" as *;

.header {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15px;
  margin-bottom: 50px;
  padding-top: 20px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  cursor: pointer;
  padding: 15px;
  background-color: $primary-green;
  color: $text-white;

  &:hover,
  &.active {
    opacity: 0.7;
    // text-decoration: underline;
  }

  &:active {
    opacity: 1;
  }
}

.fixedHeader {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid lightgray;

  .searchContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .cartContainer {
    position: relative;
    cursor: pointer;
    span {
      background-color: $primary-gray;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -7px;
      right: -14px;
      border-radius: 50%;
      border: 1px solid black;
      height: 20px;
      width: 20px;
    }
  }
}
