.holographicContainer {
}

.holographicCard {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.4s ease;
  border: 1px solid rgba(61, 114, 119, 0.3);
  background-color: white;
  height: 100%;
}

.holographicCard::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(61, 114, 119, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.4s ease;
  opacity: 0;
}

.holographicCard:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(61, 114, 119, 0.3);
  z-index: 1;
}

.holographicCard:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
