@use '@/styles/colors' as *;

.root {
  padding-left: 10%;
  padding-right: 10%;
}

.productDetails {
  display: flex;
  gap: 70px;
}

.previewContainer {
  width: 700px;
  height: 700px;

  img {
    position: absolute;
  }
}

.image {
  border-radius: 16px;
}

.smallerImagesContainer {
  margin-top: 5px;
  .smallerImage {
    border-radius: 16px;
    margin-right: 10px;
    cursor: pointer;
  }

  .blurredImage {
    opacity: 0.5;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #333;
}

.category {
  color: rgb(172, 166, 166);
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.8;
  color: #555;
  font-size: 1.05rem;
  max-width: 600px;

  .label {
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
  }
}


.noImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  color: #999;
  font-size: 1.1rem;
  border-radius: 16px;
}

.priceContainer {
  display: inline-block;
  margin-top: 50px;
  padding: 10px;
  border-radius: 16px;
  background-color: #3d727710;
  color: $primary-green;

  font-size: 35px;
  font-weight: 900;

  .dollarSymbol {
    float: inline-start;
    font-size: 25px;
    margin-right: 3px;
    color: rgb(137, 136, 136);
  }
}
