@use '@/styles/colors' as *;

.root {
  border: 1px solid $primary-gray;
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 10px;

  .info {
    display: grid;
    flex-direction: column;
    gap: 10px;
    width: 70%;

    .title {
      //
    }

    .price {
      font-weight: bold;
    }
    .addition {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: end;
      justify-self: flex-end;
      width: 100px;
      border: 1px solid $primary-gray;
      text-align: center;
      .action {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      .quantity {
        width: 20px;
      }
    }
  }
}
